@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");
body {
  font-family: "Roboto Condensed", serif;
}

#myBooks {
  text-align: center;
}

.title {
  text-align: center;
  font-weight: 100;
  font-family: "Roboto Thin", serif;
  border: 1px solid lightgray;
  padding: 10px;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.2);
  background-color: #F0F0F0;
  color: grey;
}

.h2 {
  text-align: center;
  font-family: "Roboto", serif;
}

.button {
  display: inline-block;
  margin: 1rem;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  transition: all 0.2s ease-in-out;
}
.button__text {
  color: white;
}
.button--green {
  background-color: darkgreen;
}
.button--green__text {
  color: white;
}

.button--cancel {
  background-color: red;
  color: white;
}

#searchForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}
#searchForm input[type=text] {
  padding: 8px;
  border-radius: 5px;
  border: none;
  margin: 0 10px;
  flex-grow: 1;
}
#searchForm input[type=submit] {
  background-color: green;
  color: white;
  padding: 8px 16px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin: 0 10px;
}

@media (min-width: 768px) {
  #searchForm {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px 0;
    flex-direction: column;
  }
  input {
    flex: 1;
    margin-right: 10px;
    align-items: flex-start;
    width: 100%;
  }
  .button {
    align-self: baseline;
  }
}
@media (min-width: 992px) {
  #searchForm {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px 0;
  }
}
@media (min-width: 1200px) {
  #searchForm {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px 0;
  }
}
@media (min-width: 768px) {
  #searchForm {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px 0;
    flex-direction: column;
  }
  input {
    flex: 1;
    margin-right: 10px;
    align-items: flex-start;
    width: 100%;
  }
  .button {
    align-self: baseline;
  }
}
@media (min-width: 992px) {
  #searchForm {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px 0;
  }
}
@media (min-width: 1200px) {
  #searchForm {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px 0;
  }
}
/* Card */
#testAmol {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cards {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 30%;
  display: flex;
  padding: 1rem;
  margin: 0 10px;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  /* Search Results */
}
.cards .card__title {
  margin-left: 1rem;
}
.cards .card__unavailable {
  max-width: 30%;
}
.cards .card__description {
  text-align: justify;
}
.cards .card__author {
  font-style: italic;
}
.cards .heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.cards .heading h3 {
  flex: 1;
}
.cards .heading i {
  flex: 1;
  font-size: 2rem;
  margin-left: 4rem;
}
@media (min-width: 768px) {
  .cards .search-results {
    display: flex;
    flex-wrap: wrap;
  }
  .cards .search-results .card {
    width: 33.33%;
  }
}
@media (min-width: 576px) {
  .cards .card__image {
    max-width: 40%;
  }
}
@media (min-width: 992px) {
  .cards .card__image {
    max-width: 70%;
  }
}

/*# sourceMappingURL=style.css.map */
