@import "../responsive/responsive";
@import "../abstracts/mixins";
@import "../abstracts/variables";

/* Card */
.card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: $card-padding;
  margin: $card-margin;
  box-shadow: $card-shadow;
  border-radius: 0.5rem;



  &__title {
    margin-left: 1rem;

  }

  &__image {
    max-width: 100%;
  }

  &__description {
    text-align: justify;
  }

  &__author {
    font-style: italic;
  }
}

.heading {
  display: flex;
  justify-content: space-around;
  align-items: center;

  h3 {
    flex: 1;
  }

  i {
    flex: 1;
    font-size: 2rem;
    margin-left: 4rem;
  }
}

/* Search Results */
.search-results {
  @include breakpoints(md) {
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    @include breakpoints(md) {
      width: calc(33.33% - 20px);
      margin: 10px;
    }
  }
}

@include breakpoints(xs) {
  .card {
    flex-direction: column;
  }

}