// Mobile First Breakpoints
$break-small: 576px;
$break-medium: 768px;
$break-large: 992px;
$break-xlarge: 1200px;

// Media Queries
@media (min-width: $break-small) {
  // Styles for small screens and up
}

@media (min-width: $break-medium) {
  #searchForm {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px 0;
    flex-direction: column;
  }

  input {
    flex: 1;
    margin-right: 10px;
    align-items: flex-start;
    width: 100%;
  }

  #search-button {
    justify-content: left;
  }
}

@media (min-width: $break-large) {
  #searchForm {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px 0;
  }
}

@media (min-width: $break-xlarge) {
  #searchForm {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px 0;
  }
}
